<nav class="sidebar" [class.collapsed]="collapsed">
    <ul class="nav flex-column">
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <i class="bi bi-list-task"></i>
                <span class="label">Tareas</span>
            </a>
        </li>
        <li>
            <a routerLink="/settings" routerLinkActive="active">
                <i class="bi bi-gear"></i>
                <span class="label">Configuración</span>
            </a>
        </li>
    </ul>
</nav>

